<html ng-app = "myEncryptionApp">
<script src="https://crypto-js.googlecode.com/svn-history/r635/tags/3.1.2/build/rollups/tripledes.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="https://crypto-js.googlecode.com/svn-history/r513/tags/3.0.2/build/components/mode-ecb.js"></script>
<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular-cookies.min.js"></script>
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="myEncryptionApp.js"></script>
<script src="LoginCtrl.js"></script>
<style>
/*html, body {
    height: 100%;
}

html {
  display: table;
    margin: auto;
}*/

body {
/*    display: table-cell;
    vertical-align: middle;*/
     background-color:#0FB188;
}
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
  }
</style>
 <img class ="displayed" src="transparent.gif" style="float:left"> </img> 
 <br></br>
<body style="background-color:#f4f4f1">
  <br> </br> <br> </br> <br> </br> <br> </br>
<h1>
<b>Login</b>
</h1> 
           <div ng-controller="LoginCtrl">
              <p>
        <label>Email </label> <input class="w3-input w3-border" type="text" ng-model="user.email" required>
        <br/>
                <br>
        <label>Password</label><input class="w3-input w3-border"  type="password" ng-model="user.password" required ><br />
        <p class="sansserif"> {{message}} </p>
                <button class = "w3-btn w3-teal" ng-click="Login()"><b>Sign In</b></button>
              </p>
        </div>
  </div>
New User?
<a href="/SignUp.html">Sign Up</a>
</body>
</html>