<html>
    <head>
    <title>Simple Angular Auth</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
        <script src="app.js"></script>
  </head>
    <body ng-app="MyEncryptionapp" ng-controller="Login">
    <h1>Welcome To Drop Box</h1>
	Login
    <br>
    USERNAME:

    <input type="text" ng-model="main.username" placeholder="username"><br>
PASSWORD:
    <input type="password" ng-model="main.password" placeholder="password"><br>
    <br>
    <button ng-click="main.login()">Login</button>
    <br><br>
	New User?
	<a href="SignUp.html">Sign Up</a>
    <br><br><br>
    </body>
</html>