<html ng-app = "myEncryptionApp">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://crypto-js.googlecode.com/svn-history/r635/tags/3.1.2/build/rollups/tripledes.js"></script>
    <script src="https://crypto-js.googlecode.com/svn-history/r513/tags/3.0.2/build/components/mode-ecb.js"></script>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js"></script>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="myEncryptionApp.js"></script>
    <script src="SignUpCtrl.js"></script>
    <script src="/UploadController.js"></script>
    <script src="/upload.js"></script>
    <style>
  #progress_bar {
    margin: 10px 0;
    padding: 3px;
    border: 1px solid #000;
    font-size: 14px;
    clear: both;
    opacity: 0;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
  }
  #progress_bar.loading {
    opacity: 1.0;
  }
  #progress_bar .percent {
    background-color: #99ccff;
    height: auto;
    width: 0;
  }
</style>
    <style>
    html, body {
        height: 100%;
    }

    html {
        display: table;
        margin: auto;
    }

    body {
        display: table-cell;
    }
    </style>


    <header class="w3-container w3-teal" style = "width: 100%">
        <h1><b>Sign Up</b></h1>
    </header>
          <body style="background-color:#f4f4f1">
                                    <div ng-controller = "UploadController">
                                        <!-- <label>Your Public Key Certificate </label><input type="file" ng-file-select="onFileSelect($files)"/> 
                                        <label>Upload Your Picture </label><input type="file" ng-file-select="onFileSelect($files)"/> -->
                                       <br />
                                    </div>
                     <div ng-controller="SignUpCtrl">
                      <form class="w3-container" style = "border: 3px solid #0FB188">
                           <p>
                          <label>User Name</label>
                          <input type="text" class="w3-input w3-border" ng-model="user.username" value="User Name" required></p>
                          <p>
                          <label>Email</label>
                          <input input type="text" class="w3-input w3-border" ng-model="user.email" value="Email" required/></p>
                           <!--  <button class="myButton" ng-click="upload_cert()">Upload Public Key </button>
                            <button class="myButton" ng-click="upload_pic()">Upload Picture </button> -->

                                        <br />
                              <label>Public Key Certificate</label>
                              <input type="file" id="files" name="file" />
                              <!-- <button onclick="abortRead();">Cancel read</button> -->
                              <div id="progress_bar"><div class="percent">0%</div></div>
                              <label>Profile Picture</label>
                              <input type="file" id="file2" name="file" />
                              <!-- <button onclick="abortRead();">Cancel read</button> -->
                              <div id="progress_bar"><div class="percent">0%</div></div>
                              <label>Password </label><input type="password" class = "w3-input w3-border" ng-model="user.password" value="Password" required/><br />
                              <label>Confirm Password </label><input type="password" class = "w3-input w3-border" ng-model="user.confirm_password" value="Password" required/><br />
                      </form>
                        <p>
          		            <p class="sansserif"> {{message}} </p>
                          <button class = "w3-btn w3-teal" ng-click="Register()"><b>Create Account</b></button>
                        </p>
                    </div>
          </body>

</html>